---
layout: layout.liquid
title: 11ty Boilerplate
---
<main>
    <article class="sun">
    <div class="planet-avatar"></div>
    <h2>Sun</h2>
    <p>Type: G2V</p>
    </article>
    <article class="mercury">
    <div class="planet-avatar"></div>
    <h2>Mercury</h2>
    <p>AU: 0.39</p>
    </article>
    <article class="venus">
    <div class="planet-avatar"></div>
    <h2>Venus</h2>
    <p>AU: 0.72</p>
    </article>
    <article class="earth">
    <div class="planet-avatar"></div>
    <h2>Earth</h2>
    <p>AU: 1.00</p>
    </article>
    <article class="mars">
    <div class="planet-avatar"></div>
    <h2>Mars</h2>
    <p>AU: 1.52</p>
    </article>
    <article class="jupiter">
    <div class="planet-avatar"></div>
    <h2>Jupiter</h2>
    <p>AU: 5.20</p>
    </article>
    <article class="saturn">
    <div class="planet-avatar"></div>
    <h2>Saturn</h2>
    <p>AU: 9.58</p>
    </article>
    <article class="uranus">
    <div class="planet-avatar"></div>
    <h2>Uranus</h2>
    <p>AU: 19.22</p>
    </article>
    <article class="neptune">
    <div class="planet-avatar"></div>
    <h2>Neptune</h2>
    <p>AU: 30.05</p>
    </article>
</main>