main {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto auto; 
    gap: 50px 40px; 
    padding: 40px; /
  }
  
  .sun {
    grid-column: 1 / 3; /* Sun spans all 4 columns */
    grid-row-start: 1; 
    grid-row-end: 3;
  }
  
  /* Style for planet cards (articles) */
  article {
    border: 2px solid #ccc; /* Border for the card */
    padding: 20px; /* Padding inside the card */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    display: flex; /* Use flexbox for internal alignment */
    flex-direction: row; /* Align children in a row */
    align-items: center; /* Center items vertically */
    gap: 20px; /* Space between avatar and text */
  }
  
  /* Planet avatars */
  .planet-avatar {
    width: 50px; /* Size of the avatar */
    height: 50px; /* Size of the avatar */
    border-radius: 50%; /* Make it round */
    /* Rest of your avatar styling */
  }
  

.sun .planet-avatar { background: linear-gradient(to bottom, #fff700, #ffe91e); }
.mercury .planet-avatar { background: linear-gradient(to bottom, #969696, #525252); }
.venus .planet-avatar { background: linear-gradient(to bottom, #bf9730, #a67b5b); }
.earth .planet-avatar { background: linear-gradient(to bottom, #6da2d9, #076324); }
.mars .planet-avatar { background: linear-gradient(to bottom, #cc3333, #993333); }
.jupiter .planet-avatar { background: linear-gradient(to bottom, #c79b71, #d8a373); }
.saturn .planet-avatar { background: linear-gradient(to bottom, #ead9a6, #d1b17a); }
.uranus .planet-avatar { background: linear-gradient(to bottom, #72cbdb, #5eabad); }
.neptune .planet-avatar { background: linear-gradient(to bottom, #4973ab, #2d5182); }
  
  /* Hover effect */
  .sun:hover, article:hover {
    transform: scale(1.05);
  }
  
  
 