:root {
    --border-radius: 50%;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 50px 40px;
    padding: 10px;
}

body {
    margin: 10px;
    padding: 15px;
    height: 100%;
    background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    color: white;
}
  
header {
    position: relative;
    text-align: center;
    padding: 50px;
}
  
h1 {
    font-family: 'Orbitron', sans-serif; 
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #00dade62;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #1fabb7, 0 0 20px #3575d5, 0 0 30px #00dbde;
    }
    to {
      text-shadow: 0 0 20px #00dbde, 0 0 30px #d7a2ed, 0 0 40px #00dbde;
    }
}
  
.sun {
    grid-column: 1 / 3; 
    grid-row-start: 1; 
    grid-row-end: 3;
}

article {
    border: 2px solid #ccc; 
    padding: 20px; 
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    gap: 30px; 
}

.planet-avatar {
    border-radius: var(--border-radius);
}
  
.sun .planet-avatar { 
    background: linear-gradient(to bottom, #fff700, #e9c26f);
    width: 150px; 
    height: 150px; 
}
  
.mercury .planet-avatar { 
    background: linear-gradient(to bottom, #969696, #525252);
    width: 30px; 
    height: 30px; 
 }

.venus .planet-avatar { 
    background: linear-gradient(to bottom, #bf9730, #a67b5b);
    width: 40px; 
    height: 40px; 
}

.earth .planet-avatar { 
    background: linear-gradient(to bottom, #6da2d9, #076324);
    width: 40px; 
    height: 40px; 
}

.mars .planet-avatar { 
    background: linear-gradient(to bottom, #cc3333, #993333);
    width: 35px; 
    height: 35px; 
}

.jupiter .planet-avatar { 
    background: linear-gradient(to bottom, #c79b71, #d8a373);
    width: 65px; 
    height: 65px; 
}

.saturn .planet-avatar { 
    background: linear-gradient(to bottom, #ead9a6, #d1b17a);
    width: 65px; 
    height: 65px; 
}

.uranus .planet-avatar { 
    background: linear-gradient(to bottom, #72cbdb, #5eabad);
    width: 55px; 
    height: 55px; 
}

.neptune .planet-avatar { 
    background: linear-gradient(to bottom, #4973ab, #2d5182);
    width: 55px; 
    height: 55px; 
}
  
article:hover {
    transform: scale(1.05);
}
  
